<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prosperity Bank | Transaction Successfully Page</title>
    <link rel="shortcut icon" href="{% static 'images/Wardiere Inc..png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/transfersuccess.css' %}">
</head>
<body>
    <h1>Transaction Successfully ₨: {{ amt }} to this Account Number: {{ accn }} </h1>
    <div class="thank-you">Thank you for using our bank!</div>
</body>
</html>
